@inherits LayoutComponentBase
@layout LoggedInLayout

<div class="app-shell__body">
    <MudDrawer Open="DrawerOpen" OpenChanged="OnDrawerOpenChanged" ClipMode="DrawerClipMode.Always" Elevation="2" Overlay="false" Class="app-shell__sidebar">
        <TorrentsListNav Torrents="OrderedTorrents" />
    </MudDrawer>
    <MudMainContent Class="app-shell__main">
        @Body
    </MudMainContent>
</div>
