<div class="content-panel">
    <div class="content-panel__body">
        <DynamicTable T="Lantean.QBitTorrentClient.Models.WebSeed"
                      TableId="WebSeeds"
                      ColumnDefinitions="Columns"
                      Items="WebSeeds"
                      MultiSelection="false"
                      SelectOnRowClick="false"
                      Class="details-list content-panel__table" />
    </div>
</div>
